
.searchBar {
    padding: 30px 10px 35px 10px;
    width: 100%;
    max-width: 22rem;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-content: center;
}
.searchBar > input{
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0rem 0.5rem 1rem;

}
.searchBar > button{
    border-radius: 0.2rem;
    padding: 0.4rem 0.6rem ;
    margin-left: 10px;
    background-color: transparent;
    /* color: #fff;
    border: solid 1px #fff; */
    color: rgb(255, 255, 255) ;
    border: solid 1px rgb(255, 255, 255) ;
    font-size: 1rem;

}


@media  (max-width: 600px) {
    .searchBar {
        width: 12rem;
        box-sizing: border-box;
    }
    .searchBar > input{
    width: 6rem;
    font-size: 0.7rem;
    
    }
    .searchBar > button{
        width: 3rem;
        font-size: 0.5rem ;
    
    }
  }
